<!DOCTYPE html>
<html xmlns:th="https://www:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
</head>
<body>


<!--======= FOOTER =========-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-4  col-sm-4 col-xs-4">
                <div class="about-footer">
                    <a href="/shopping-mall">
                        <img class="margin-bottom-30" src="/static/image/logo.png" style="height: 35px" alt="">
                    </a>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                        China.Baoding.东风东路999号 <br>
                    </p>
                    <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 010-8888-8888</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> info@shopping.com</p>
                </div>
            </div>

            <div class="col-lg-3  col-md-3  col-sm-3 col-xs-3">
                <h6>
                    相关链接
                </h6>
                <ul class="link">
                    <li><a target="_blank" href="https://github.com/whitePure/shopping-mall-Demo">源码地址</a></li>
                    <li><a href="/shopping-mall/personal">我的店铺</a></li>
                    <li><a href="/demo/index">查看演示</a></li>
                    <li>
                        <a target="_blank" href="http://note.youdao.com/noteshare?id=cb85171311c50a56dfee72901e6d5c77&sub=6359E8B6E6644B508040AA70ECF63929">相关资料</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3  col-md-3  col-sm-3 col-xs-3">
                <h6>
                    关于我们
                </h6>
                <ul class="link">
                    <li> <a target="_blank" href="http://note.youdao.com/noteshare?id=f185e367693d6a0d4acc195807d10da5&sub=1DE3A4ECC002434DB200CAAC687D4571">了解我们</a></li>
                    <li><a href="/shopping-mall/register"> 加入我们</a></li>
                    <li><a href="http://note.youdao.com/noteshare?id=36a26524a4b79e0f17c5145c3db2d2e1&sub=778DA1708C4E401DB6CB5D8F9A4D87A3" target="_blank">联系我们</a></li>
                    <li><a href="javascript:;"> 支持我们</a></li>
                </ul>
            </div>

            <div class="col-lg-2  col-md-2  col-sm-2 col-xs-2">
                <h6>学习资料</h6>
                <ul class="link">
                    <li><a href="http://jq22.com" target="_blank">JQuery库</a></li>
                    <li><a href="https://cyc2018.github.io/CS-Notes/#/README" target="_blank">Java资料</a></li>
                    <li><a href="http://note.youdao.com/noteshare?id=79a852753f1e6243bfd6469e291e120e&sub=D8758A844C404A76A4C248B43B9E12C3" target="_blank">Java概览</a></li>
                    <li><a href="https://github.com/search?l=Java&q=java&type=Repositories" target="_blank">GitHub</a></li>
                </ul>
            </div>

            <div class="rights">
                <p>版权 &copy; 2019.公司名称保留所有权利.H.B.S.I · 金智杯</p>
                <div class="scroll">
                    <a href="#wrap" title="回到顶部" class="go-up"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>