body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5f5f5f;
}
main {
  padding: 50px 0 50px;
  background: #fff;
  font-size: 15px;
}
main p {
  font-size: 16px;
}
.page-title {
  padding-top: 30px;
  text-align: center;
}
main .btn,
header .btn {
  background: #000;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  border: none;
  color: #fff;
  border-radius: 0;
}
main .btn i,
header .btn i {
  padding-right: 5px;
}
main .btn:hover,
header .btn:hover,
main .btn:active,
header .btn:active,
main .btn:focus,
header .btn:focus {
  background: #5f5f5f;
  color: #fff;
}
main .ct-product {
  text-align: center;
  margin-bottom: 30px;
}
main .ct-product:hover .inner {
  background: #000;
}
main .ct-product:hover .inner *,
main .ct-product:hover .inner .ct-product-price {
  color: #fff;
}
main .ct-product .image img {
  width: 100%;
  height: 11em;
}
main .ct-product .inner {
  -webkit-transition: background 0.25s ease;
          transition: background 0.25s ease;
  position: relative;
  padding: 35px 15px 15px;
}
main .ct-product .inner .btn {
  position: absolute;
  width: 55px;
  height: 55px;
  line-height: 46px;
  text-align: center;
  background: #000;
  padding: 0;
  border: 5px solid #fff;
  border-radius: 50%;
  font-size: 35px;
  left: 0;
  right: 0;
  top: 0;
  margin: -27.5px auto 0;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
main .ct-product .inner .btn:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
main .ct-product .inner .btn:hover:active {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
main .ct-product .inner .btn i {
  position: relative;
  left: 4px;
}
main .ct-product .inner .ct-product-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
main .ct-product .inner .ct-product-price {
  margin-top: 10px;
  color: #000;
  display: block;
}
main .widget {
  padding-bottom: 50px;
  background: #fff;
  padding: 0 15px 15px;
}
main .ct-cart-empty {
  padding-top: 20px;
}
main .ct-cart {
  position: relative;
}
main .ct-cart:before,
main .ct-cart:after {
  content: '';
  display: table;
  clear: both;
}
main .ct-cart .ct-cart-total:before {
  content: 'Total: ';
  padding-right: 10px;
}
main .ct-cart ol {
  list-style: none;
  padding: 20px 0;
}
main .ct-cart ol li {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
main .ct-cart ol li:first-child {
  border-top: 1px solid #eee;
}
main .ct-cart ol li button {
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  color: #ee330a;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
main .ct-cart ol li button:hover {
  background: #ee330a;
  color: #fff;
}
main .ct-cart ol li .ct-cart-name {
  display: block;
}
main .ct-cart ol li input,
main .ct-cart ol li .ct-cart-price {
  color: #ee330a;
  border: none;
}
main .ct-cart ol li input {
  width: 50px;
}
main .ct-cart ol li .ct-cart-price:after {
  content: 'x';
  padding: 0 10px;
}
main .ct-cart .ct-cart-checkout,
main .ct-cart .ct-cart-clear {
  width: 45%;
  padding: 10px 0;
  border: none;
  color: #fff;
  -webkit-transition: background 0.2s ease;
          transition: background 0.2s ease;
}
main .ct-cart .ct-cart-checkout:hover,
main .ct-cart .ct-cart-clear:hover {
  background: #5f5f5f;
}
main .ct-cart .ct-cart-checkout {
  float: right;
  background: #ee330a;
}
main .ct-cart .ct-cart-clear {
  float: left;
  background: #00c680;
}
main .ct-cart-empty {
  padding-top: 0;
  bottom: auto;
  top: -30px;
  left: 1px;
  text-align: left;
}
