<!DOCTYPE html>
<html lang="zh-hans-cn">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Rin">
    <title>右侧边栏圆形弹性按钮</title>
    <link rel="stylesheet" href="/static/css/menu/asidenav.css">
</head>
<body>
<div data-v-6505e6d8="" id="app"><!---->
    <div data-v-e53a43c0="" data-v-6505e6d8="" class="wrap">
        <div data-v-e53a43c0="" class="top"><img data-v-e53a43c0="" src="/img/school_choose.d248fb38.png"></div>
        <div data-v-e53a43c0="" class="inner">
            <div data-v-e53a43c0="" class="content-box"><h2 data-v-e53a43c0="" class="text-center title">发布商品</h2>
                <form data-v-e53a43c0="" autocomplete="off" class="ivu-form ivu-form-label-right">
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">标题</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type">
                                <!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="很重要，显示在列表页"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">简介</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type">
                                <textarea wrap="soft" autocomplete="off" spellcheck="false" placeholder="很重要,显示在商品详情页"
                                          rows="2" class="ivu-input"
                                          style="height: 52px; min-height: 52px; max-height: 115px; overflow-y: hidden;"></textarea>
                            </div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">标价</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="数字,想卖的价格"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">原价</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text"
                                       placeholder="数字,购买时的价格,如忘记可填大概价格，让用户对性价比一目了然"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item" style="margin-bottom: 5px;"><label
                            class="ivu-form-item-label" style="width: 80px;">卖家标签</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="tag fl active">
                                原装正品
                            </div>
                            <div data-v-e53a43c0="" class="tag fl">
                                无拆无修
                            </div>
                            <div data-v-e53a43c0="" class="tag fl">
                                如假包退
                            </div>
                            <div data-v-e53a43c0="" class="tag fl">
                                价格可谈
                            </div>
                            <div data-v-e53a43c0="" class="tag fl">
                                一口价
                            </div>
                            <div data-v-e53a43c0="" class="tag fl">
                                欢迎来撩
                            </div>
                            <div data-v-e53a43c0="" class="tag fl">
                                非诚勿扰
                            </div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><!---->
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="自定义标签,最多4个字"
                                       class="ivu-input ivu-input-default"> <!----></div>
                            <button data-v-e53a43c0="" type="button" class="ivu-btn ivu-btn-success"
                                    style="margin-left: 15px;"><!----> <!----> <span>
                            添加
                        </span></button> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">分类</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-cascader ivu-cascader-size-default"
                                 style="width: 300px;">
                                <div class="ivu-cascader-rel"><input type="hidden">
                                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"><!---->
                                        <!----> <i
                                                class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                        <input autocomplete="off" spellcheck="false" type="text"
                                               placeholder="合适的分类买家能更好地找到您的商品" readonly="readonly"
                                               class="ivu-input ivu-input-default"> <!----></div>
                                    <div class="ivu-cascader-label" style="display: none;"></div>
                                    <i class="ivu-icon ivu-icon-ios-close-circle ivu-cascader-arrow"
                                       style="display: none;"></i> <i
                                            class="ivu-icon ivu-icon-ios-arrow-down ivu-cascader-arrow"></i></div>
                                <div class="ivu-select-dropdown"
                                     style="transform-origin: center top 0px; display: none;">
                                    <div><span><ul class="ivu-cascader-menu"><li class="ivu-cascader-menu-item">
    数码产品
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    书籍教材
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    衣鞋帽伞
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    代步工具
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    体育健身
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    家用电器
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    日常用品
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    虚拟产品
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    手工设计
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    乐器
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li><li class="ivu-cascader-menu-item">
    其他
    <i class="ivu-icon ivu-icon-ios-arrow-forward"></i> <!----></li></ul><!----></span>
                                        <div class="ivu-cascader-dropdown" style="display: none;">
                                            <ul class="ivu-select-dropdown-list">
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>手<span></span>机<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>平<span></span>板<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>笔<span></span>记<span></span>本<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>台<span></span>式<span></span>机<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>手<span></span>表<span></span>手<span></span>环<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>单<span></span>反<span></span>相<span></span>机<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>充<span></span>电<span></span>宝<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>耳<span></span>机<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>手<span></span>机<span></span>配<span></span>件<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>脑<span></span>配<span></span>件<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>路<span></span>由<span></span>器<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>数<span></span>码<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>教<span></span>科<span></span>书<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>文<span></span>学<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>小<span></span>说<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>子<span></span>书<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>教<span></span>育<span></span>考<span></span>试<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>动<span></span>漫<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>书<span></span>籍<span></span>教<span></span>材<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>裙<span></span>子<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>裤<span></span>子<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>衣<span></span>服<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>帽<span></span>子<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>鞋<span></span>子<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>箱<span></span>子<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>包<span></span>包<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>雨<span></span>伞<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>衣<span></span>鞋<span></span>帽<span></span>伞<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>自<span></span>行<span></span>车<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>旱<span></span>冰<span></span>鞋<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>平<span></span>衡<span></span>车<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>滑<span></span>板<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>油<span></span>车<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>动<span></span>车<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>代<span></span>步<span></span>工<span></span>具<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>体<span></span>育<span></span>健<span></span>身<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>球<span></span>类<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>体<span></span>育<span></span>健<span></span>身<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>球<span></span>拍<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>体<span></span>育<span></span>健<span></span>身<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>运<span></span>动<span></span>鞋<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>体<span></span>育<span></span>健<span></span>身<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>运<span></span>动<span></span>装<span></span>备<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>体<span></span>育<span></span>健<span></span>身<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>健<span></span>身<span></span>器<span></span>材<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>体<span></span>育<span></span>健<span></span>身<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>磁<span></span>炉<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>洗<span></span>衣<span></span>机<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>冰<span></span>箱<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>风<span></span>扇<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>饭<span></span>煲<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>豆<span></span>浆<span></span>机<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>吹<span></span>风<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>音<span></span>响<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>家<span></span>用<span></span>电<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>日<span></span>常<span></span>用<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>化<span></span>妆<span></span>护<span></span>肤<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>日<span></span>常<span></span>用<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>小<span></span>工<span></span>具<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>日<span></span>常<span></span>用<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>学<span></span>习<span></span>用<span></span>品<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>日<span></span>常<span></span>用<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>虚<span></span>拟<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>游<span></span>戏<span></span>周<span></span>边<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>虚<span></span>拟<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>充<span></span>值<span></span>卡<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>虚<span></span>拟<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>各<span></span>类<span></span>账<span></span>号<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>虚<span></span>拟<span></span>产<span></span>品<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>手<span></span>工<span></span>设<span></span>计<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>书<span></span>法<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>手<span></span>工<span></span>设<span></span>计<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>绘<span></span>画<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>手<span></span>工<span></span>设<span></span>计<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>工<span></span>艺<span></span>品<span></span></li>
                                                <li class="ivu-select-item">
                                                    <span></span>手<span></span>工<span></span>设<span></span>计<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>服<span></span>装<span></span>设<span></span>计<span></span>
                                                </li>
                                                <li class="ivu-select-item">
                                                    <span></span>手<span></span>工<span></span>设<span></span>计<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>吉<span></span>他<span></span></li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>钢<span></span>琴<span></span></li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>尤<span></span>克<span></span>里<span></span>里<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>民<span></span>族<span></span>管<span></span>弦<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>西<span></span>洋<span></span>管<span></span>弦<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>打<span></span>击<span></span>乐<span></span>器<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>乐<span></span>器<span></span>配<span></span>件<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>脑<span></span>音<span></span>乐<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>口<span></span>琴<span></span>/<span></span>竖<span></span>笛<span></span>
                                                </li>
                                                <li class="ivu-select-item"><span></span>乐<span></span>器<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>电<span></span>子<span></span>琴<span></span></li>
                                                <li class="ivu-select-item"><span></span>其<span></span>他<span></span>
                                                    <span></span>/<span></span>
                                                    <span></span>其<span></span>他<span></span></li>
                                            </ul>
                                        </div>
                                        <ul class="ivu-cascader-not-found-tip" style="display: none;">
                                            <li>无匹配数据</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">邮费</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="填写数字"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">微信</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="微信号，手机号，QQ至少填一项"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">手机</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="微信号，手机号，QQ至少填一项"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">QQ</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type"
                                 style="width: 300px;"><!----> <!----> <i
                                    class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
                                <input autocomplete="off" spellcheck="false" type="text" placeholder="微信号，手机号，QQ至少填一项"
                                       class="ivu-input ivu-input-default"> <!----></div> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><label class="ivu-form-item-label"
                                                                         style="width: 80px;">图片上传</label>
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <div data-v-e53a43c0="" style="color: rgb(136, 136, 136);">
                                请在上传前使用ps或者QQ截图对图片进行裁剪，才会不变形，更美观。推荐750*750px（像素）
                            </div>
                            <div data-v-e53a43c0="" class="ivu-upload" style="display: inline-block; width: 100px;">
                                <div class="ivu-upload ivu-upload-drag"><input type="file" multiple="multiple"
                                                                               class="ivu-upload-input">
                                    <div data-v-e53a43c0="" style="width: 100px; height: 100px; line-height: 100px;"><i
                                            data-v-e53a43c0="" class="ivu-icon ivu-icon-ios-camera"
                                            style="font-size: 30px; color: rgb(102, 102, 102);"></i></div>
                                </div>  <!----></div><!----> <!----></div>
                    </div>
                    <div data-v-e53a43c0="" class="ivu-form-item"><!---->
                        <div class="ivu-form-item-content" style="margin-left: 80px;">
                            <button data-v-e53a43c0="" type="button" class="ivu-btn ivu-btn-primary ivu-btn-long">
                                <!----> <!----> <span>提 交</span></button> <!----></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/static/js/menu/asidenav.js">
</script>
</body>
</html>