<!DOCTYPE html>
<html xmlns:th="https://www:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心-我的信息</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/my-info.js"></script>
</head>
<body>
<span class="loading"></span>
<div class="container" >
    <div class="col-md-6 col-md-offset-3">
        <form  id="register">
            <input type="hidden" name="userId" th:value="${session.user.id}">
            <div class="form-group has-feedback">
                <label for="username">用户名</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text">
                </div>
                <span style="color:red;display: none;" class="tips" name="usernameTips"></span>
                <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback" name="usernameRemove"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback" name="usernameOk"></span>
            </div>


            <div class="form-group has-feedback">
                <label for="phoneNum">手机号码</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                    <input id="phoneNum" class="form-control" placeholder="请输入手机号码" maxlength="11" type="text">
                </div>
                <span style="color:red;display: none;" class="tips" name="phoneNumTips"></span>
                <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback" name="phoneNumRemove"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback" name="phoneNumOk"></span>
            </div>

            <div class="form-group has-feedback">
                <label for="email">邮箱</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input id="email" class="form-control" placeholder="请输入邮箱" maxlength="20" type="text">
                </div>
                <span style="color:red;display: none;" class="tips" name="emailTips"></span>
                <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback" name="emailRemove"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback" name="emailOk"></span>
            </div>

            <div class="form-group">
                <input  disabled="disabled" class="form-control btn btn-primary" id="submit" value="确&nbsp;&nbsp;定&nbsp;&nbsp;修&nbsp;&nbsp;改" type="submit">
            </div>
        </form>
    </div>
</div>
<script src="/static/js/register.js"></script>
</body>
</html>