<!DOCTYPE html>
<html xmlns:th="https://www:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心-订单详情</title>
    <!-- ico -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <!-- cart-product   -->
    <link rel="stylesheet" href="/static/css/cart-product.css">

</head>
<body>
<div class="container-fluid clear-padding">
    <!-- 订单列表 -->
    <div class="product">
        <div class="container">
            <a href="/shop/order-info">返回我的订单</a>
            <div class="box-hd ">
                <h2 class="text-left title" id="user-cart">订单详情</h2>
            </div>
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>商品名称</th>
                    <th>商品价格</th>
                    <th>购买数量</th>
                </tr>
                </thead>
                <tbody th:each="product:${products}">
                <tr>
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.productPrice}+'元'"></td>
                    <td th:text="${product.productCount}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 用户地址信息 -->
            <div class="checkout-box-bd">

                <div class="box-bd text-left">
                    <div class="xm-address-list">
                        <dl class="item">
                            <dt>
                                <strong class="itemConsignee" th:text="${address.userName}"></strong>
                                <span class="itemTag tag" th:text="${address.addressTag}"></span>
                            </dt>
                            <dd>
                                <p class="tel itemTel" th:text="${address.phone}"></p>
                                <p class="itemRegion" th:text="${address.address}"></p>
                                <p class="itemStreet" th:text="${address.comment}"></p>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

</body>
</html>